@import "../../../../styles/mixins";

.wrapper {
    border-radius: 7px;
    padding: 15px;
    height: calc(100vh - 150px);
    min-width: 150px;
    max-width: 300px;
    background-color: $color-secondary;
    position: sticky;
    top: 100px;
    h4 {
        margin-bottom: 20px;
        color: $color-primary;
    }
}
