@import "../../../../styles/mixins";

.wrapper {
    max-width: 100%;
    min-height: 200px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: $color-white;
    display: flex;
    margin: 8px 30px 0px 30px;
    padding: 15px;
    margin-top: 80px;
}
.wrapper2 {
    padding-left: 10px;
}
.avatar {
    height: 50px;
    width: 50px;
    border-radius: 12px;
}
.user{
    display: flex;
    color: #979797;
    font-size: 15px;
    .author {
        color: #0e501d;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .spacing{
        margin-top: 0px;
        margin-bottom: 4px;
        padding-left: 8px;
    }
}
.title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 15px;
}
.description {
    margin-top: 0px;
    font-size: 15px;
}
.mainImage {
    max-height: 300px;
}
.social {
    display: flex;
}
.unmuted {
    padding-left: 8px;
}
.muted {
    padding-left: 8px;
    text-transform: capitalize;
    color: $color-grey;
}
