@import "../../../../styles/mixins";

.wrapper {
    // width: 100%;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: $color-white;
    display: flex;
    margin: 8px 30px 0px 30px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.wrapper2 {
    padding-left: 10px;
}
.avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 12px;
}
.user {
    display: flex;
    align-items: center;
    color: #979797;
    font-size: 15px;
    .author {
        color: #0e501d;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .spacing {
        margin-top: 0px;
        margin-bottom: 4px;
        padding-left: 8px;
    }
}
.title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 15px;
}
.description {
    margin-top: 0px;
    font-size: 15px;
}
.mainImage {
    max-height: 300px;
}
.social {
    display: flex;
}
.unmuted {
    padding-left: 8px;
    height: 10px;
}
.muted {
    padding-left: 8px;
    text-transform: capitalize;
    color: $color-grey;
}
.FilterBtn {
    width: 100px;
    height: 24px;
    border-radius: 12px;
    margin-left: 8px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
        opacity: 0.9;
    }
}

.FilterBtnSmall {
    height: 24px;
    border-radius: 12px;
    margin-left: 8px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
        opacity: 0.9;
    }

    .applyFilter {
        font-size: 14px;
        font-weight: 400;
        color: #abfe2d;
    }
}
