@import "../../../styles/mixins";

.wrapper {
    min-height: 200px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: $color-white;
    display: flex;
    margin: 8px 30px 0px 30px;
    padding: 15px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.root {
    flex-grow: 1;
}
