.wrapper{
    height: 4rem;
    background-color: #0070f3;
    padding: 16px;
    position: sticky;
    top: 0px;
}
.link{
    color: #FFFFFF;
    margin-left: 16px;
}
.fade{
    height: 20px;
    width: 100vw;
    margin-bottom: 16px;
    position: sticky;
    top: 64px;
    background: linear-gradient(180deg, #FAFAFA, transparent);
}