@import "../../../styles/mixins";

.wrapper {
    height: 55px;
    background-color: #0070f3;
    padding: 16px;
    position: sticky;
    top: 0px;
}
.link {
    color: $color-white;
    margin-left: 16px;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    transition: all 0.3s ease-in-out;
}
.fade {
    height: 20px;
    margin-bottom: 16px;
    position: sticky;
    top: 55px;
    background: linear-gradient(180deg, $color-primary, transparent);
}
