@import "../../../styles/mixins";

.wrapper {
    height: 72px;
    background-color: $color-white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.link {
    margin-left: 16px;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    transition: all 0.3s ease-in-out;
}
.fade {
    height: 20px;
    left: 0px;
    right: 0px;
    position: fixed;
    top: 72px;
    background: linear-gradient(180deg, $color-primary, transparent);
}
.search{
    border-radius: 32px;
    background-color: #F4F8FF;
    max-width: 418px;
    width: 100%;
}
.logo{
    position: absolute;
    left: 10px;
    color: $color-secondary;
}
.both{
    display: flex;
    align-items: center;
    justify-content: center;
}